*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    display: block;
    background-color: #147a1c;
    color: white;
    grid-template-columns: 1fr auto;
    padding: 10px 10px;
    position: relative;
    
    
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color:white ;
 	position: absolute ;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

nav{
    display: flex;
    justify-content: center;
}

.navigation {
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
    text-align: center;
	color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #147a1c;
    z-index: 1000;
    padding-bottom: 10px;
}


.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
    font-size: 21px;
}
.navigation a:hover {
	
	text-decoration: underline double;
}
.navigation.open{
    display: flex;
}


/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

main{
    display: grid;
    grid-template-columns: 1fr  ;
    
    max-width: 100%;
    margin: 0 auto;
    flex: 1;
    padding-bottom: 20px;
}

main h2 {
    text-align: center;
    padding-top: 40px;
    grid-column: 1/-1;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
figure img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}

figure img:hover{
    box-shadow: 0 0 50px #333;  
}
footer{
    background-color: #147a1c;
    
    text-align: center;
    padding: 20px;
    
}

footer p {
    margin: 5px 0;
    color: white;
}